*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    margin: 0 15px;
    font-family: "Trirong", serif;
    background-color: beige;    
}

h1 {
    text-align: center;
    padding:20px;
    text-shadow: 5px 5px 5px rgb(170,170,170);
    background-color: #f1f1f1;
}

h2 {
    text-align: center;
}
h3 {
    width:150px;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 0 170px 0 100px;
    width: 100%;
    background-color: gray;
    align-items: center;
    text-align: center;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}


.CategoryNav {
    height: 100%;
    width: 15%;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.mainCategory, .dropdown, .secondaryCategory{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.mainCategory:hover , .dropdown:hover, .secondaryCategory:hover, .active{
    color: #fff;
}

.secondaryCategoryContainer{
    display: none;
    padding-left: 8px;
}

.favoriteProduct {
    width: 65%;
}

.reviewAboutUs {
    width: 20%;
}

.searchBar {
    border: 1px solid #4c4641;
    border-radius: 5px;
    color: #4c4641;
    width: 450px;
    text-align: left;
    height: 30px;
    margin-right: 80px;
}

.bi {
    border: 2px solid black;
    padding:5px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.bi-heart {
    padding: 5px 5px 0 5px;
}

.usersBtn {
    border: 2px solid black;
    text-align: center;
    padding:10px;
    cursor: pointer;
    font-weight: bold;
}

#signUpLogin {
    display: flex;
    flex-direction: row;
}

.login-popup, .signUp-popup {
    display: none;
    position:absolute;
    border: 3px solid black;
    width:350px;
    background-color: white;
    margin-left: 400px;
}

.form-container {
    max-width: 300px;
    padding: 10px;
}

.form-container input[type=text], .form-container input[type=password], .form-container input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: #f1f1f1;
}

.form-container .submitPopupbtn, .form-container .closePopupbtn {
    background-color: grey;
    padding: 16px 20px;
    cursor: pointer;
    margin-bottom:10px;
    width: 100%;
}

.bodyContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.footerList {
    width:300px;
    padding-left:40px;
    padding-right: 60px;
    text-align: left;
}

.grid {
    height: 100%;
    width: 100%;
    margin: 15px auto;
}

.row {
    height: 360px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product {
    height: 100%;
    width: 25%;
    background-color:white;
    border:1px solid grey;
    padding: 5px;
}

.product_heading {
    margin-top: 1px;
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
}

.product_heading_logo {
    width: 40%;
    height: 100%;
}

.product_heading_buttons {
    width: 50%;
    height: 100%;
    margin-top:5px;
    text-align: center;
}

.product_img {
    height: 55%;
    margin-left: 30px;
}

.product_MKT {
    width: 100%;
    height: 6%;
    display: flex;
}

.static_text_MKT {
    width: 80%;
    height: 100%;
}

.MKT {
    width: 50%;
    height: 100%;
    text-align: right;
}

.product_name {
    width: 100%;
    height: 13%;
    display: flex;
}

.static_text_name {
    width: 35%;
    height: 100%;
}

.name {
    width: 65%;
    height: 100%;
    text-align: right;
}

.product_buying {
    width: 100%;
    height: 6%;
    display: flex;
    margin: 0;
}

.product_price {
    width: 50%;
    height: 100%;
    display: flex;
}

.static_text_price {
    width: 35%;
    height: 100%;
}

.price {
    width: 65%;
    height: 100%;
    margin-left: 5px;
}

.buy_button {
    padding-bottom: 20px;
    width: 45%;
    height: 100%;
    text-align: center;
    margin-left: 5px;
}

.cart_button {
    margin: 3px 5px 0 0;
    padding: 10px;
    width: 40%;
    height: 80%;
}

#popupAbout,#popupDevelopers,#popupCarrers,#popupPolicy,#popupWebsitePolicy,#popupShipping {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 9999;
    opacity: 0.85;
    visibility: hidden;
    }

#popupAbout .close,#popupDevelopers .close,#popupCarrers .close,#popupPolicy .close,#popupWebsitePolicy .close,#popupShipping .close {
    color: green;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
}

#popupAbout:target,#popupDevelopers:target,#popupCarrers:target,#popupPolicy:target,#popupWebsitePolicy:target,#popupShipping:target {
    visibility: visible;
}

#popupAbout .content,#popupDevelopers .content,#popupCarrers .content,#popupPolicy .content,
#popupWebsitePolicy .content,#popupShipping .content {
    width: 75%;
    background-color: white;
    height: 20rem;
    box-shadow: 0 2rem 4rem rgba(#000,.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    overflow-y:scroll;
}

#popupAbout .content .heading,#popupDevelopers .content .heading,#popupCarrers .content .heading,
#popupPolicy .content .heading,#popupWebsitePolicy .content .heading,#popupShipping .content .heading {
    text-align: center;
    color: black;
    font-size: xx-large;
}

.bi-chat-left {
    width:100%;
    height:30%;
    padding:0;
    border: none;
    background-color: #fff;
    margin-top: 15px;
}

.btncart {
    border: 2px solid black;
    text-align: center;
    padding:10px 10px;
    cursor: pointer;
    font-weight: bold;
}

#loginBtn {
    margin:1px;
}

#signUpBtn {
    margin:1px;
}

.speech-bubble {
	position: relative;
	background: #b9d4d1;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-top-color: #b9d4d1;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
}
